body {
  background-color: lightblue;
}

/*TODO Header*/

header {
  display: inline-flex;
  margin: 0% 10%;
}

.nav {
  background-color: gainsboro;
  opacity: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.part1,
.part2 {
  margin: 2%;

}

#sese {
  font-size: xx-large;
}

#pesquisa {
  display: inline-flex;
}

#info {
  margin: 2%;
}


/*TODO Nav*/

nav {
  display: inline-block;
  margin: 2% 10%;
}

.form {
  width: 30%;
  text-align: center;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  float: left;
}

.carrosel {
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: gainsboro;
  float: right;
}

/*TODO Section*/

section {
  float: left;
  display: flex;
  width: 65%;
}

/*Cartão*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: 400px;
  min-height: 400px;
  height: auto;
  width: auto;
  text-align: center;
  font-family: arial;
  background-color: whitesmoke;
  border-style: solid;
  overflow: hidden;
  cursor: pointer;
  /* white-space: nowrap; */
}

#infoCard {
  display: flex;
  justify-content: space-between;
}

.price {
  color: grey;
  font-size: 22px;
}

#img1,
#img2,
#img3,
#img4,
#img5,
#img6 {
  min-height: 250px;
  max-height: 250px;
  height: auto;
  width: auto;
}

#title1,
#title2,
#title3,
#title4,
#title5,
#title6 {
  text-align: justify;
  padding: 5%;
  box-sizing: border-box;
}

.card button {
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: #000;
  cursor: pointer;
  font-size: 18px;

  justify-content: center;
  align-items: center;
}

.card button:hover {
  opacity: 0.7;
}


/*TODO Aside */

aside {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: arial;
  background-color: whitesmoke;
  border-style: solid;
  width: 30%;
  display: block;
  cursor: pointer;
  float: right;
  border: 2px solid black;

}

#painel {
  text-align: center;
  background-color: whitesmoke;
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}






/*Rodapé*/

footer {
  background-color: rgba(220, 220, 220, 0.473);
  text-align: center;
  display: inline-flex;
  padding: 2%;
}

.links {
  text-align: left;

}

#creditos {
  background-color: cadetblue;
}

/*Responsivo*/

@media screen and (max-width: 1840px) and (min-width: 1280px) {
  .nav {
    transform: translateX(15%);
  }

  #info {
    transform: translateX(15%);
  }

  #texto {
    display: inline-block;
  }

  #painel {
    width: 46%;
  }
}

@media screen and (max-width: 1279px) and (min-width: 993px) {
  .nav {
    transform: translateX(10%);
  }

  #info {
    transform: translateX(10%);
  }

  .form {
    transform: translateX(5%);
  }

  .carrosel {
    width: 500px;
    transform: translateX(30%);
  }

  .lateral {
    transform: translateX(20%);
  }

  #texto {
    display: inline-block;
  }

  .lista {
    width: 40%;
  }

  #painel {
    width: 45%;
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .nav {
    transform: translateX(60%);
    display: block;
    text-align: center;
    width: 45%;
  }

  #info {
    transform: translateX(10%);
  }

  .carrosel {
    width: 500px;
    transform: translateX(10%);
  }

  .form {
    transform: translateX(5%);
  }

  .grid {
    width: 200%;
  }

  #texto {
    display: inline-block;
  }

  .lista {
    width: 80%;
    transform: translateX(10%);
  }

  #painel {
    width: 81%;
  }
}

@media screen and (max-width: 768px) {
  #logo {
    transform: translateX(80%);
    width: 130px;
  }

  #pesquisa {
    transform: translate(50%, 70%);
  }

  #sese {
    transform: translateX(45%);
  }

  .nav {
    transform: translateX(130%);
    display: inline-block;
  }

  .lista {
    width: 40%;
    transform: translateX(0%);
  }

  #info {
    transform: translateX(120%);

  }

  header {
    width: 90%;
    transform: translateX(0%);
  }

  .part1 {
    display: block;
    width: 100%;
  }

  /*semi-grid*/

  .semi-grid {
    display: inline-flex;
  }

  .form {

    width: 300px;
    transform: translate(50%, -170%);
  }

  .carrosel {
    width: 350px;
    transform: translate(-30%, -10%);
  }

  /*grid*/

  .ofc-main {
    width: 120%;
  }

  .grid {
    width: 50%;
    transform: translateX(30%);
  }

  .lateral {
    width: 100%;
    transform: translateX(45%);
  }

  #texto {
    display: block;
    width: 50%;
  }

  #painel {
    width: 202px;
  }
}