  /*Cabeçalho*/
  body {
    background-color: lightblue;
  }

  /*TODO Header*/

  header {
    display: inline-flex;
    margin: 0% 10%;
  }

  .nav {
    background-color: gainsboro;
    opacity: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
  }

  .part1,
  .part2 {
    margin: 2%;

  }

  #logo {
    cursor: pointer;
  }

  #sese {
    font-size: xx-large;
  }

  #pesquisa {
    display: inline-flex;
  }

  #info {
    margin: 2%;
  }

  /*TODO Conteúdo*/

  main {
    margin: 3% 16%;
  }

  #grid {
    display: flex;
    background-color: azure;
    border-style: solid;
  }

  #descri {
    text-align: justify;
    padding: 1%;
  }

  .col {
    display: flex;
    padding: 1%;
  }

  #produ {
    width: 20%;
    border-style: groove;
  }

  #linha {
    border-style: solid;
    background-color: azure;
    cursor: pointer;
  }

  #texto {
    text-align: justify;
    padding: 1%;
  }

  #preco {
    font-style: italic;
    text-decoration: underline;
    font-size: large;
  }

  /*Rodapé*/

  .baixo {
    background-color: rgba(220, 220, 220, 0.473);
    text-align: center;
  }

  #rodape {
    display: inline-flex;
    padding: 5%;
  }

  .links {
    text-align: left;

  }

  footer {
    background-color: cadetblue;
    text-align: center;
  }